.hireWrapper{
    margin: auto;
    width: 40em; 
    position: relative;
    box-shadow: 3px 0px 26px 10px #888888;
    margin-top: 1em;
    opacity: 0;
}

.hireWrapper.activeForm {
    opacity: 1;
}



.onboardWrapper{
    text-align: center;
    font-size:30px;
    font-style: bold;
    color: black;
    padding:40px 0px 30px 0px;
}

.titleWrapper{
    text-align: center;
    font-size:30px;
    font-style: bold;
    color: #4b6f90;;
    padding:0px 0px 40px 0px;
}

.formWrapper{
    width: 40em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 2em;
}

.loginButton{
    margin: auto;
    border: 2px solid black;
    width: 10em;
    padding: 0.5em 1em;
    background-color: darkgray;

}

.buttonWrapper{
    margin: auto;
}

.boxContainer{
    position: absolute;
    top: 2em;
    left: 4em;
}


.imageWrapper{
    width: 5em;
}

.noHireContainer{
    position: absolute;
    top: 45%;
    left: 45%;
    width: 10em;
    box-shadow: 3px 0px 26px 10px #888888;
    opacity: 0;
}

.noHireContainer.activeForm {
    opacity: 1;
}

.noHireContent{
    padding: 2em;
}